@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
    background-color: var(--light);
    font-family: 'Poppins', sans-serif;
}
.logo {
    font-size: 40px;
}
.navbar {
    transition: top 0.3s;
    font-size: 15px;
}

.heading {
    font: 80px Montserrat, Arial, sans-serif;
}
a.noUnderline {
    text-decoration: none; 
}
#cranelad {
    padding-top: 150px;
    height: 100%;
    width: 100%;
}
#cranelad p {
    font: 25px "Droid serif", Arial, sans-serif;
}
#cranelad .btn {
    border: solid 1px #fff;
    padding: 15px 15px;
    width: auto;
}
#cranelad .container span {
    font: 20px Montserrat, Arial, sans-serif;
}
#cranelad .fa {
    color: #fff;
    font-size: 30px;
    padding: 14px;
}
#heading{
    background-color: #0cb2f0;
    height: 80vh;
}
.intro {
    font-size: 50px;
}
.para {
    font-size: 20px;
}
#brands {
    color: #0cb2f0;
    height: 100vh;
}
#expertise {
    background-color: #0cb2f0;
    color: #0cb2f0;
    height: auto;
}
#works{
    color: #0cb2f0;
}
.label {
    font-size: 40px;
}
#works a {
    color: #0cb2f0;
}
#contact {
    color: #0cb2f0;
    height: 90%;
}
#contact p {
    font-size: 17px;
}
#contact input {
    width: 30%;
}
#contact textarea {
    width: 100%;
}
#contact button {
    height: 60px;
    width: 132px;
    font-size: 20px;
    background-color: #0cb2f0;
    border: none;
}
#contact button:hover {
    background-color: #69cef3;
}
footer {
    background-color: #0cb2f0;
    height: auto;
}
footer .fa {
    color: var(--light);
    font-size: 23px;
}
footer a , footer p{
    color: var(--light);
    font-size: 13px;
}
#nav {
    font-size: 13px;
}
#nav a {
    color: var(--primary);
}
#somesha {
    height: 100vh;
}
.button1 {
    border-radius: 40px;
}
.empty-space {
    height: 15vh;
}
section.learn {
    background-color: #fff;
}
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.596);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    opacity: 0.8;
    overflow: hidden;
    border-radius: inherit;
}
.inner {
    padding-top:150px;
}
section.contact-us p, section.about-us p{
    color: #4E83D4;
}
section.contact-us .dark-overlay, section.about-us .dark-overlay{
    min-height: 300px;
}
section.find-us .fa{
    font-size: 25px;
    color: #4E83D4;
}
section.find-us h2 {
    font-size: 20px;
}
section.find-us .form-control {
    width: 100%;
}
section.about-us {
    background-image: url("https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://somesha.io/wp-content/uploads/2019/07/Chairs-and-desks.jpg");
}
.blockquote p {
    font-size: 30px;
    font-family: 'Courgette', cursive;
    color: #0cb2f0;
}
section.som-contact {
    background-image: url("https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://somesha.io/wp-content/uploads/2019/07/Chairs-and-desks.jpg");
}
section.works {
    background-color: #4E83D4;
    min-height: 100vh;
}
section.somesha{
    background-color: #4E83D4;
}
section.somesha img {
    min-height: 700px;
    width: 100%;
    overflow: hidden;
    border-radius: inherit;
}
section.talk {
    background-image: url("https://cdn.shortpixel.ai/client/q_glossy,ret_img/https://somesha.io/wp-content/uploads/2019/08/sCHOOL-bUS.jpg");
}